h1{
  color: #a94cc5;
  font-weight: 700;
  font-size: 3em;
  text-transform: uppercase;
  padding-top: 2em;
}

p{
  color: #9a9898;
}

a{
  color: #a94cc5;
}

.mail{
  color: #9a9898;
}

body{
  text-align: center;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
}
